################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphicsLoopSplit/graphicsPipeline/.vs/graphicsPipeline/v15/ipch/AutoPCH/bcb0fce80e20ee0/MAIN.ipch
