################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphicsLoopSplit/graphicsPipeline/.vs/graphicsPipeline/v15/ipch/AutoPCH/bcb0fce80e20ee0/MAIN.ipch
/GraphicsLoopSplit/graphicsPipeline/.vs/graphicsPipeline/v15/Browse.VC.opendb
/GraphicsLoopSplit/graphicsPipeline/.vs/graphicsPipeline/v15/Solution.VC.db-shm
/GraphicsLoopSplit/graphicsPipeline/.vs/graphicsPipeline/v15/Solution.VC.db-wal
/GraphicsLoopSplit/graphicsPipeline/.vs/Impunity/v15/ipch/AutoPCH/bcb0fce80e20ee0/MAIN.ipch
/GraphicsLoopSplit/graphicsPipeline/.vs/Impunity/v15/Server/sqlite3/db.lock
/GraphicsLoopSplit/graphicsPipeline/.vs/Impunity/v15/Server/sqlite3/storage.ide
/GraphicsLoopSplit/graphicsPipeline/.vs/Impunity/v15/Server/sqlite3/storage.ide-shm
/GraphicsLoopSplit/graphicsPipeline/.vs/Impunity/v15/Server/sqlite3/storage.ide-wal
/GraphicsLoopSplit/graphicsPipeline/.vs/Impunity/v15/Browse.VC.db
/GraphicsLoopSplit/graphicsPipeline/.vs/Impunity/v15/Browse.VC.opendb
/GraphicsLoopSplit/graphicsPipeline/.vs/Impunity/v15/Solution.VC.db
/GraphicsLoopSplit/graphicsPipeline/.vs/Impunity/v15/Solution.VC.db-shm
/GraphicsLoopSplit/graphicsPipeline/.vs/Impunity/v15/Solution.VC.db-wal
